<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<br>
	<br>
	<h1 style="text-align:center">Fill in all the information below to start a new account!</h1>
	<div class="container">
		<form action="home.html">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="fullName">Full Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="fullName" id="fullName"  placeholder="Enter Name">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label"  for="emailAddress">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="userName" id="userName" placeholder="Enter Username">
				</div>
			</div>
			<div class="form-group row">
				<label  class="col-sm-2 col-form-label" for="passwordFirst">Password</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="passwordFirst" name="passwordFirst" placeholder="Password">
				</div>
			</div>
			<div class="form-group row">
				<label  class="col-sm-2 col-form-label" for="Major">Major</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="Major" name="Major" placeholder="Enter Year in School">
				</div>
			</div>
			<div class="form-group row">
				<label  class="col-sm-2 col-form-label" for="Year">Year</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="Year" name="Year" placeholder="Enter Year in School">
				</div>
			</div>
			<div class="form-group row">
				<label  class="col-sm-2 col-form-label" for="GPA">GPA</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="GPA" name="GPA" placeholder="Enter GPA">
				</div>
			</div>
			<div class="form-group row">
				<label  class="col-sm-2 col-form-label" for="pronouns">Pronouns</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="pronouns" name="pronouns" placeholder="Enter Pronouns">
				</div>
			</div>
			  <br>
			  <br>
			  <br>
			  <br>
			<input type="submit" value="submit" class="btn btn-primary btn-block">
		</form>
		<br>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../resources/js/my_scripts.js"></script>
</body>
</html>