<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<header class =  "navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" >
</header>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="personal_website.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/abealsileshi">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="project.html">Projects</a>
        </ul>
      </div>
    </div>
</nav>

<div class="jumbotron text-center">
  <h1>Sileshi, Abeal</h1>
  <p>I am an up and coming Computer Science student.</p> 
</div>
<img src="https://m.media-amazon.com/images/I/41vcsjbFH1L._AC_.jpg" class="img-thumbnail" alt="Image of a Computer Science Students"  width="250" height="300">
<h2 align= "center">Interests</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="https://www.treehugger.com/thmb/33fmXIVwmiz64HJX-l8upS21fqY=/1050x750/filters:no_upscale():max_bytes(150000):strip_icc()/color-illustration-man-running-outside-4aeffe3ec7134a8793401d76ec1c54af.png" class="img-thumbnail" alt="Image of a person running"  width="350" height="300">
      <h3>Exercise</h3>
      <p>I love all forms of exercise, but my favorite ones are the ones that make me want to cry.</p>
    </div>
    <div class="col-sm-4">
      <img src="https://specials-images.forbesimg.com/imageserve/5f85be4ed0acaafe77436710/960x0.jpg?fit=scale" class="img-thumbnail" alt="Image of some books"  width="300" height="350">
      <h3>Reading</h3>
      <p>If I'm not coding, exercising, or travelling, I'm probably reading.</p>
    </div>
    <div class="col-sm-4">
      <img src="https://cdn.britannica.com/26/58626-050-3B2B1DA0/Simien-Mountains-Ethiopian-Plateau-Ethiopia.jpg" class="img-thumbnail" alt="Image of Simien-Mountains-Ethiopian-Plateau-Ethiopia"  width="250" height="240">
      <h3>Travelling</h3>        
      <p>In my free time I like to travel to different countries and expose myself to different cultures and languages. </p>
    </div>
  </div>
</div>
</body>
<footer style="background-color: rgba(0, 0, 0, 0.2);">
  <a href="https://www.linkedin.com/in/abeal-sileshi-b01184196/">
    <center><img class "centerImage" alt="Linkedin logo" src="https://cdn2.iconfinder.com/data/icons/simple-social-media-shadow/512/14-512.png"
    width=100" height="100"></center>
 </a>
</footer>
</html>