<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<!-- BODY -->
<div class = "col-8">
  <h1>
    Career Network
  </h1>
    Welcome to the CareerNetwork website! Here you can search for jobs and also make networking connections.
  <br>
  <div class="card w-80 card-color">
    <div class="card-body">
      <h3 class = "card-title">My Feed</h3>
      <div class="forumDivOuter" style>
        <form action="/home" method="post" id="add_post">
        <div id="forumDiv">
          <textarea class="autoExpand forumPost form-control" name="new_post"   rows="4" data-min-rows="4" placeholder="Create a post"> </textarea>
          <br>
          <button class="forumPostButton btn btn-default btn-outline-primary">Post</button>
        </form>
        </div>
      </div>
      <br>
    </div> <!-- End card body-->
    <!-- <img class="rounded-circle mx-auto" src="" alt="Card image" style="width:500px; height:500px;"> -->
  </div> <!-- End card-->
  
  <form action="/home" method="get">
    <!-- TODO: Second EJS Update -->
    <%
    if (posts) {
      var user_posts = '';
      posts.forEach(function(item){
        user_posts += '<br><div class="card"><div class="card-header"> User Post </div>';
        if(item.post_text){
          user_posts += '<div class="card-body"> <blockquote class="blockquote mb-0">  <p>' + item.post_text + '</p> </blockquote></div></div><br>';
        }
      }); %>
    <%- user_posts %>
    <% } %>
  </form>
  <br>
  <h3>Recommended jobs for you</h3>
  <div class="card-group card-color">
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60myXwH91ZjGX7w-2z2TFlsiGxBXhpIdOsg&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">some works</p>

      </div>
    </div>
    
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrtbha31p_09caU4Ent34syDVs9cOGxA6GDg&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">some more text.</p>

      </div>
    </div>
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKbgHviEX51Vd13IH9LAoToaMC9cKfhIsElw&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">more text!</p>

      </div>
    </div>
  </div>
  <br>
  <h3>News</h3>
  <div class="card-group card-color">
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60myXwH91ZjGX7w-2z2TFlsiGxBXhpIdOsg&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">some works</p>

      </div>
    </div>
    
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrtbha31p_09caU4Ent34syDVs9cOGxA6GDg&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">some more text.</p>

      </div>
    </div>
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKbgHviEX51Vd13IH9LAoToaMC9cKfhIsElw&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">more text!</p>

      </div>
    </div>
  </div> <!-- End card class-->
</div> <!-- End div col for body-->

<%- include('../partials/footer') %>
