<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<!-- Custom styles for this template -->
<!-- <link href="../resources/css/my_style.css" rel="stylesheet"> -->

<!-- BODY -->

<title>Home</title>
<div class = "col-8">
  <h1>
    Career Network
  </h1>
    Welcome to the CareerNetwork website! Here you can search for jobs and also make networking connections.
  <br>
  
   <form action="/visiting_profile" method="get"> <!-- ZC -->
  <input type="text" id="myInput" name="full_name" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
  </form>
  
  <div class="card w-80 card-color">
    <div class="card-body">
      <h3 class = "card-title">My Feed</h3>
      <div class="forumDivOuter" style>
        <form action="/home" method="post" id="add_post">
        <div id="forumDiv">
          <textarea class="autoExpand forumPost form-control" name="new_post"   rows="4" data-min-rows="4" placeholder="Create a post"> </textarea>
          <br>
          <button class="forumPostButton btn btn-default btn-outline-primary">Post</button>
        </form>
        </div>
      </div>
      <br>
    </div> <!-- End card body-->
    <!-- <img class="rounded-circle mx-auto" src="" alt="Card image" style="width:500px; height:500px;"> -->
  </div> <!-- End card-->
  
  <form action="/home" method="get">
    <!-- TODO: Second EJS Update -->
    <%
    if (posts) {
      var user_posts = '';
      posts.forEach(function(item){
        user_posts += '<br><div class="card card-color"><div class="card-header">'  +  item.username_posts   + '</div>';
        if(item.post_text){
          user_posts += '<div class="card-body"> <blockquote class="blockquote mb-0">  <p>' + item.post_text + '</p> </blockquote></div></div><br>';
        }
      }); %>
    <%- user_posts %>
    <% } %>
  </form>
  <br>
  <h3>Recommended jobs for you</h3>
  <div class="card-group card-color">
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60myXwH91ZjGX7w-2z2TFlsiGxBXhpIdOsg&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">some works</p>

      </div>
    </div>
    
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrtbha31p_09caU4Ent34syDVs9cOGxA6GDg&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">some more text.</p>

      </div>
    </div>
    <div class="card card-color">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKbgHviEX51Vd13IH9LAoToaMC9cKfhIsElw&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <p class="card-text">more text!</p>

      </div>
    </div>
  </div>
  <br>
  <h3>News</h3>
  <div class="card-group card-color">
    <div class="card card-color">
      <img class="card-img-top" src="https://static01.nyt.com/images/2021/05/15/multimedia/15-indy-shooting/15-indy-shooting-superJumbo.jpg"  width=20px height=150px alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">What We Know About the Shooting in Indianapolis</h5>
        <p class="card-text">Eight people were killed at a FedEx warehouse, the police said.</p>
        <h6>Publication Date:</h6><p class="card-text">2021-04-16</p>
        <a class="btn btn-primary" href="https://www.nytimes.com/2021/04/16/us/indianapolis-shooting-fedex.html">Article Link</a>
      </div>
    </div>
    <div class="card card-color">
      <img class="card-img-top" src="https://static01.nyt.com/images/2021/04/16/upshot/16up-labor/merlin_185896911_beaa16f3-7d92-4366-a189-d95526641e6b-superJumbo.jpg" width=20px height=150px alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Unemployment Is High. Why Are Businesses Struggling to Hire?</h5>
        <p class="card-text">Health concerns, expanded jobless benefits and still being needed at home are among the reasons would-be workers might be staying away.</p>
        <h6>Publication Date:</h6><p class="card-text">2021-04-16</p>
        <a class="btn btn-primary" href="https://www.nytimes.com/2021/04/16/upshot/unemployment-pandemic-worker-shortages.html">Article Link</a>
      </div>
    </div>
    <div class="card card-color">
      <img class="card-img-top" src="https://static01.nyt.com/images/2021/04/16/multimedia/16xp-shootingslist/merlin_185568027_ec23f20c-e302-4fd6-b702-045e99eedaf0-superJumbo.jpg"  width=20px height=150px alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">A Partial List of Mass Shootings in the United States in 2021</h5>
        <p class="card-text">The shootings never stopped during the coronavirus pandemic, they just became less public, researchers say.</p>
        <h6>Publication Date:</h6><p class="card-text">2021-04-16</p>
        <a class="btn btn-primary" href="https://www.nytimes.com/article/mass-shootings-2021.html">Article Link</a>
      </div>
    </div>
  </div> <!-- End card class-->
</div> <!-- End div col for body-->
<script src="../resources/js/home.js"></script>
