<%- include('../partials/header') %>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login to your PLACEHOLDERTITLE account">
    <title>Login Page</title>
	<script defer src="..\resources\js\login.js"></script>

    <link href="..\resources\css\login.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
  <body class="center text-center" id="centerbody">
    <button type="button" id="darkMode" onclick="darkMode()" >Dark Mode</button>
	<div class="loginbox">
		<img src="../resources/img/profile.jpg" class="profilePic" alt="Placeholder profile picture">
		<h1 class="loginTitle">Login or Create an Account</h1>
		<form id="login">
			<p>Username</p>
			<input id="username" type="text" name="username" placeholder="Enter Username" >
			<p>Password</p>
			<input id="password" type="password" name="password" placeholder="Enter Password">
			<!-- <input id="submit" name="submit" value="Login"> -->
			<a class="nav-link" href="/home">Submit</a>
			<a class="nav-link" href="/register">Register</a>



			<a href="#" name="resetLogin">Forgot username/password?</a><br>

			
		</form>

	</div>
	<br /><br /><br /> <br />

	<!-- <div id="myModal" class="modal fade">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
					<div class="avatar">
						<img src="../resources/img/profile.jpg" alt="Avatar">
					</div>
					<h4 class="modal-title">Sign Up page</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text" class="form-control" name="firstName" placeholder="First Name"
							required="required">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="lastName" placeholder="Last Name"
							required="required">
					</div>
					<div class="form-group">
						<input id="psw" type="password" class="form-control" name="password" placeholder="Password"
							required="required">
					</div>
					<div class="form-group">
						<input id="cpsw" type="password" class="form-control" name="confirm password"
							placeholder="Confirm Password" required="required">
					</div>
					<div class="form-group">
						<button id="registerButton" class="login-btn" disabled >Sign Up</button>
					</div>
				</div>
				<div class="modal-footer">
					<div id="message" style="display:block">
						<h3>Password must contain the following:</h3>
						<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
						<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
						<p id="number" class="invalid">A <b>number</b></p>
						<p id="length" class="invalid">Minimum <b>8 characters</b></p>
						<p id="match" class="invalid">Password and Confirm Password Match</p>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	<br /><br /><br />



	</body>


<%- include('../partials/footer') %>
