

<%- include('../partials/header') %>
<%- include('../partials/menu') %>
    <!-- BODY -->
    <br>
    <input type="button" class="button" id="newMessage" onclick="newMessage()" value="New Message">
    <input type="button" class="button" id="newMessage" onclick="darkMode()" value="Dark Mode">
    <br>
    
    
    <div class="container darker">
      <img src="../resources/img/profile.jpg" alt="Avatar" style="width:100%;">
      <p>Person 1</p>
      <span class="time-left">3:30</span>
    </div>
    
    <div class="container darker">
      <img src="../resources/img/profile.jpg" alt="Avatar" style="width:100%;">
      <p>Person 2</p>
      <span class="time-left">3:30</span>
    </div>
    
    <div class="container darker">
      <img src="../resources/img/profile.jpg" alt="Avatar" style="width:100%;">
      <p>Person 3</p>
      <span class="time-left">3:30</span>
    </div>
    
    <div class="container darker">
      <img src="../resources/img/profile.jpg" alt="Avatar" style="width:100%;">
      <p>Person 4</p>
      <span class="time-left">3:30</span>
    </div>

<%- include('../partials/footer') %>
