<%- include('../partials/header') %>
<%- include('../partials/menu') %>

 <head>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="websiteStylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<script src="profile.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="../resources/css/websiteStylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
body {
  text-align:center;
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.card-img-top{
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
}
img {
  width: 100%;
  height: auto;
}
.row {
  float:left;
}
</style>
</head> 
<!-- <body> -->

<div class="col-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top mx-auto d-block" style="float: center; margin: 1rem" src="https://i.pinimg.com/originals/3d/99/a7/3d99a7e6cb285c7f7cf5e87131e45c92.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Name</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Major</li>
        <li class="list-group-item">Year</li>
        <li class="list-group-item">GPA</li>
        <li class="list-group-item">Pronouns</li>
      </ul>
      <a class="nav-link" href="/index">Email Message</a>
    </div>
  </div> 
  <div class="card" style="width: 18rem; margin-top: 1rem;">
    <div class="card-body">
      <h5 class="card-title">Skills</h5>
      <p class="card-text">Bulleted list of skills the client wishes to display</p>
    </div>
  </div>
</div>
<div class="col-5" style="width: 100%; text-align: left; margin-bottom: 2rem;">

  <div class="card" style="width: 100%; margin-top: 1rem;">
    <div class="card-body">
      <h5 class="card-title">Introduction</h5>
      <p class="card-text">This will be filled with user input</p>
    </div>
  </div>

  <div class="card" style="width: 100%; margin-top: 1rem;">
    <div class="card-body">
      <h5 class="card-title">Education</h5>
      <p class="card-text">Education can be added here in chronological order possibly</p>
    </div>
  </div>

  <div class="card" style="width: 100%; margin-top: 1rem;">
    <div class="card-body">
      <h5 class="card-title">Work and Volunteer Experience</h5>
      <p class="card-text">Client can input their work and volunteer here that will be visible.</p>
    </div>
  </div>

  <div class="card" style="width: 100%; margin-top: 1rem;">
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
      <p class="card-text">List of projects the client wishes to display. -> can forward to git repos?</p>
    </div>
  </div>

  <div class="card" style="width: 100%; margin-top: 1rem;">
    <div class="card-body">
      <h5 class="card-title">Relevent Coursework</h5>
      <p class="card-text">Bulleted list of coursework completed the client wishes to display.</p>
    </div>
  </div>

</div>

<%- include('../partials/footer') %>
