<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<br>
	<br>
	<h1 style="text-align:center">Fill in all the information below to start a new account!</h1>
	
    <div class="container">
		<form action="/register/add_user" method="post" id="add_user" style="visibility: hidden; height: 0">
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="fullName">Full Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="full_name" id="fullName" placeholder="Enter Full Name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="userName">User Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="user_name" id="userName" placeholder="Enter User Name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="password">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="password_" id="password" placeholder="Enter Password">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="major">Major</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="major_" id="major" placeholder="Enter Major">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="year">Year</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="year_" id="year" placeholder="Enter graduating year">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="gpa">GPA</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="gpa_" id="gpa" placeholder="Enter GPA">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="pronouns">Pronouns</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="pronouns_" id="pronouns" placeholder="Enter Pronouns">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="pronouns">Experience</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="pronouns_" id="pronouns" placeholder="Enter Experience">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"  for="pronouns">Skills</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="pronouns_" id="pronouns" placeholder="Enter Skills">
                </div>
            </div>
            
            <input type="submit" value="submit" class="btn btn-primary btn-block">
        </form>
		<br>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../resources/js/my_scripts.js"></script>
</body>
</html>