

<br>
<div class="row">
  <div class="col-2">
    <button type="button" id="darkMode" onclick="darkMode()">Dark Mode</button>
  </div>
  <div class="col-10"></div>
</div>

  <!-- NAV BAR -->
<div class ="row">
  <div class = "col-2">
    <nav class="navbar">
      <ul class = "navbar-nav">
        <li class = "nav-item">
          <a class="nav-link" href="/home"><i class="fa fa-home fa_custom fa-2x"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/messages">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
      </ul>
    </nav>

    
    <br>
    <div class="container-fluid">
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Search Site"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form>
    </div>

    <br>
    
  </div>