<!DOCTYPE html>

<head>

<link rel="stylesheet" href="websiteStylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<script src="javascript.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Career Network</title>
<!-- Bootstrap core css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="../resources/css/websiteStylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



<style>

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

</style>
</head>

<body>
  <h1>
    <br>
    Career Network
  </h1>

  <!-- NAV BAR -->
  <div class ="row">
    <div class = "col-2">
      <nav class="navbar">
        <ul class = "navbar-nav">
          <li class = "nav-item">
            <a href="home.html">Home</a>
          </li>
          <li class = "nav-item">
            <a href="feed.html">Feed</a>
          </li>
          <li class = "nav-item">
            <a href="messages.html">Messaging</a>
          </li>
          <li class = "nav-item">
            <a href="settings.html">Settings</a>
          </li>
        </ul>
      </nav>
    </div>



    <!-- BODY -->
  <div class = "col-8">
      Welcome to the CareerNetwork website! Here you can search for jobs and also make networking connections.
    <div class="card w-80">
      <div class="card-body">
        <p>Test Text.</p>
      </div>
      <img class="rounded-circle mx-auto" src="../Personal_Website/img/bio-photo1.jpg" alt="Card image" style="width:500px; height:500px;">
    </div>
    <br>
    <h3>News</h3>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60myXwH91ZjGX7w-2z2TFlsiGxBXhpIdOsg&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">some workds</p>

        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrtbha31p_09caU4Ent34syDVs9cOGxA6GDg&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">some more text.</p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKbgHviEX51Vd13IH9LAoToaMC9cKfhIsElw&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">more text!</p>

        </div>
      </div>
    </div> <!-- End card class-->
  </div> <!-- End div col for body-->
  <!-- Right nav bar -->
    <!-- 
    </ul> -->

      <div class = "col-2">
        <nav class="navbar navbar-expand-sm">
          <ul class = "navbar-nav">
            <li class="nav-item"><a class="nav-link" href="https://github.com/"><i class="fa fa-github fa_custom fa-2x"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fa fa-user fa_custom fa-2x"></i></a> </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
            
        </nav>

        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <form class="d-flex input-group w-auto">
              <input
                type="search"
                class="form-control"
                placeholder="Type query"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                data-mdb-ripple-color="dark"
              >
                Search
              </button>
            </form>

            <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown link
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
          </div>
        </nav>
      </div>
    

  </div> <!-- End div row-->
  
  

</body>
