<!DOCTYPE html>

<head>

<link rel="stylesheet" href="websiteStylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<script src="javascript.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap core css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="../resources/css/websiteStylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>
  <br>
  Direct Messaging
</h1>
<!-- NAV BAR -->
<div class ="row">
  <div class = "col-2">
    <nav class="navbar">
      <ul class = "navbar-nav">
        <li class = "nav-item">
          <a class="navbar-brand" href="home.html"><i class="fa fa-home fa_custom fa-2x"></i> </a>
        </li>
        <li class = "nav-item">
          <a href="feed.html">Feed</a>
        </li>
        <li class = "nav-item">
          <a href="messages.html">Messaging</a>
        </li>
        <!-- <li class = "nav-item">
          <a href="settings.html">Settings</a>
        </li> -->
        
      </ul>
    </nav>

    
    <br>
    <div class="container-fluid">
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Search Site"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form>
    </div>

    <br>
    
  </div>

<style>

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

</style>
</head>

<body>


</body>
