<!DOCTYPE html>

<head>

<link rel="stylesheet" href="websiteStylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<script src="javascript.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">


<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>
  Profile Page!
</h1>
<div class="navbar">
  <a href="homePage.html">Home</a>
  <a href="profile.html">Account Profile</a>
  <a href="feed.html">Feed</a>
  <a href="messages.html">Direct Messaging Board</a>
</div>

<style>

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

</style>
</head>

<body>


</body>
