<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Settings Page</title>
        <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="../resources/css/my_style.css" rel="stylesheet">
</head>

<body>
<nav class="navbar" style="background-color: #add8e6;">
	<ul class="navbar-nav mr-auto">
	<li class="nav-item active">
	<a class="nav-link" href="home.html" style="color:#989898;">Done<span class="sr-only">(current)</span></a>
	</li>
</nav>
<div style="padding:15px;">
        
            <h1>Profile Settings</h1>
            
            <div class="row" style="height:100%">
            
                <div class="col-md-3">
                
                    <div>
			<img src="../resources/img/profile.jpg" height="300px" width="300px" id="picture">
			<br>
			<input type="file" id="input">
		    </div>
                </div>
                
             <div class="col-md-9">
                    
                 <div class="container">
                    
                     <form>
                    
                         <div class="form-group">

                             <label>Name</label>
                             <input class="form-control" id="name">

                         </div>
                         <div class="form-group">

                             <label>Username</label>
                             <input class="form-control" id="username">

                         </div>
                         <div class="form-group">

                             <label>Password</label>
                             <input class="form-control" id="password">

                         </div>
                         <div class="form-group">

                             <label>D.O.B.</label>
                             <input class="form-control" id="dob">

                         </div>

			 <div class="form-group">

                             <label>Education</label>
                             <input class="form-control" id="education">

                         </div>

			 <div class="form-group">

                             <label>Resume</label>
			     <br>
			     <input type="file" id="resume">
                         </div>

			 <div class="form-group">

                             <label>Experience</label>
                             <input class="form-control" id="experience" style="height:200px;">

                         </div>
                            
                         <div class="row mt-5">
                            
                             <div class="col">
                                
                                 <button id="submit" class="btn btn-primary btn-block">Save Changes/ Submit</button>
                               
                             </div>
                                
                             <div class="col">
                                
                                 <button class="btn btn-default btn-block" style="background-color:#989898;">Cancel</button>
                                
                             </div>
                            
                         </div>
		
			<br>
			<center>
			<button type="button" id ="delete" class="btn btn-block" onclick="delete_profile()" style="background-color:red; width:150px;">Delete profile</button>
			</center>
                       </form>
                    
                    </div>
                
                </div>
            
            </div>
            
        </div>
    
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="../resources/js/my_scripts.js"></script>
<div class = "container">
    <button type="button" id="insert" class="btn btn-success">Insert</button>

    <button type="button" id="create" class="btn btn-success">Create Table</button>
    
    <button type="button" id="remove" class="btn btn-danger">Delete Table</button>
    
    <button type="button" id="list" class="btn btn-success">Fetch Record</button>
    <br>
</div>
<div>
    
<hr>
<h4>Record</h4>
<table class="table table-bordered table-hover" id="itemlist">
	
</table>
</div>
<script type="text/javascript">
    var db=openDatabase("itemDB","1.0","itemDB",65535);
    $(function(){
    
    loadData();
    
    
    $("#create").click(function(){
    db.transaction(function(transaction){
        var sql="CREATE TABLE items "+
        "(name varchar(40) NOT NULL,"+
        "username VARCHAR(100) NOT NULL,";
        transaction.executeSql(sql,undefined,function(){
            alert("Table is created successfully");
        },function(){
            alert("Table is already being created");
        })
    });
    });
    // to remove
    
    $("#remove").click(function(){
    
    if(!confirm("Are you sure to delete this table?","")) return;;
    db.transaction(function(transaction){
        var sql="DROP TABLE items";
        transaction.executeSql(sql,undefined,function(){
            alert("Table is deleted successfully")
        },function(transaction,err){
            alert(err.message);
        })
    });
    });
    
    //to insert
    
    $("#insert").click(function(){
    var item=$("#name").val();
    var qty=$("#username").val();
    db.transaction(function(transaction){
    var sql="INSERT INTO items(name,username) VALUES(?,?)";
    transaction.executeSql(sql,[item,qty],function(){
        alert("New item is added successfully");
    },function(transaction,err){
        alert(err.message);
    })
    })
    
    })
    
    
    //to fetch
    
    $("#list").click(function(){
    loadData();
    })
    
    function loadData(){
            $("#itemlist").children().remove();
        db.transaction(function(transaction){
            var sql="SELECT * FROM items";
            transaction.executeSql(sql,undefined,function(transaction,result){
    if(result.rows.length){
    
    for(var i=0;i<result.rows.length;i++){
        var row=result.rows.item(i);
        var item=row.item;
        var id=row.id;
        var quantity=row.quantity;
        $("#itemlist").append('<tr><td>'+id+'</td><td>'+item+'</td><td>'+quantity+'</td></tr>');
    }
    }else{
        $("#itemlist").append('<tr><td colspan="3" align="center">No Item Found</td></tr>');
    }
    
    
            },function(transaction,err){
                alert('No table found. Click on "Create Table" to create table now');
            })
        })
    }
    
    })
    </script>
</body>
</html>
